@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import '../modulos/variables';
@import '../modulos/header';
@import '../modulos/main';
@import '../modulos/footer';



*{
    box-sizing: border-box;
    margin: 0;
}
html{
    font-size: $font-size;
}
body {
    background-color: $primary-dark-blue2;
    color: $primary-dark-white;
}
li{
    list-style: none;
}
.logo{
    color: $yellow;
    font-size: 32px;
    font-family: $font-primary;
    font-style: normal;
    font-weight: $font-weight-bold;
    line-height: normal;

}
ul{
    display: flex;
    gap: 25px;
    color: $primary-dark-white;
    font-size: 18px;
    font-family: $font-primary;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;

}
.li--first{
    color: $primary-dark-gold;
    padding-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: fit-content;

}
.more-links{
    display: flex;
    gap: 20px;
}
.name{
    color: $primary-dark-gold;
    text-decoration: underline;
}
a{
    color: $yellow;
    text-decoration: none;
}
